.slider {
  position: relative;
  z-index: 1;
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
}

.slider-image {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  max-width: 100%;
  height: auto;
}

.slider-image.active {
  opacity: 1;
}
